<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ugv_roarm">

<xacro:macro name="use_gazebo" params="use_gazebo"></xacro:macro>
<xacro:arg name="use_gazebo" default="false"/>
<xacro:property name="use_gazebo" value="$(arg use_gazebo)"/>

<xacro:macro name="GZ_VERSION" params="GZ_VERSION"></xacro:macro>
<xacro:arg name="GZ_VERSION" default="classic"/>
<xacro:property name="GZ_VERSION" value="$(arg GZ_VERSION)"/>

<xacro:arg name="initial_positions_file" default="$(arg roarm_model)/initial_positions.yaml" />
<xacro:include filename="$(arg roarm_model)/$(arg roarm_model).ros2_control.xacro" />

<xacro:roarm_ros2_control use_gazebo="$(arg use_gazebo)" GZ_VERSION="$(arg GZ_VERSION)" initial_positions_file="$(arg initial_positions_file)"/>

<xacro:include filename="$(find ugv_roarm_description)/urdf/ugv_roarm.xacro"/>

<gazebo>
    <xacro:if value="${GZ_VERSION == 'classic'}">
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find ugv_roarm_moveit)/config/$(arg roarm_model)/ros2_controllers.yaml</parameters>
    </plugin>
    </xacro:if>    
    <xacro:if value="${GZ_VERSION == 'harmonic'}">
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
        <parameters>$(find ugv_roarm_moveit)/config/$(arg roarm_model)/ros2_controllers.yaml</parameters>
    </plugin>
    </xacro:if>  
</gazebo>

</robot>