<?xml version="1.0" ?>
<robot name="ugv_beast" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="use_gazebo" params="use_gazebo">

<xacro:arg name="robot_namespace" default="/" />
<xacro:arg name="urdf_extras" default="empty.urdf" />

<xacro:include filename="$(find ugv_description)/urdf/wheels/beast_wheel.xacro" />
<xacro:include filename="$(find ugv_description)/urdf/sensors/lidar.xacro" />
<xacro:property name="lidar_joint_pose">
  <origin xyz="0.03170 -0.00102 0.0973" rpy="0 0 1.5708"/>
</xacro:property>
<xacro:lidar> 
<xacro:insert_block name="lidar_joint_pose" />
</xacro:lidar>

<xacro:include filename="$(find ugv_description)/urdf/sensors/3d_camera.xacro" />
<xacro:oak use_gazebo="${use_gazebo}">
  <origin xyz="0.07031 0 0.0793" rpy="0 0 0" />
</xacro:oak>

<xacro:property name="base_inertial">
  <inertial>
    <origin xyz="0.0 0 0.04" rpy="0 0 0" />
    <mass value="1.5953349" />
    <inertia ixx="0.007009319" ixy="0" ixz="0" iyy="0.008928272" iyz="0" izz="0.012219206" />
  </inertial>
</xacro:property>

<xacro:property name="base_pose">
  <origin xyz="0 0 0" rpy="0 0 0" />
</xacro:property>

<xacro:property name="base_joint_pose">
  <origin xyz="0 0 0.021" rpy="0 0 0"/>
</xacro:property>
    
<link name="base_footprint"></link>

<link name="base_link">
  <xacro:insert_block name="base_inertial" />
  <visual>
    <xacro:insert_block name="base_pose"/>
    <geometry>
      <mesh filename="file://$(find ugv_description)/meshes/bases/ugv_beast_base.stl" scale="1.0 1.0 1.0"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <xacro:insert_block name="base_pose"/>
    <geometry>
      <mesh filename="file://$(find ugv_description)/meshes/bases/ugv_beast_base.stl" scale="1.0 1.0 1.0"/>
    </geometry>
  </collision>
</link>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <xacro:insert_block name="base_joint_pose" />
</joint>


<xacro:property name="wheel_inertial_pose_z" value="0.027"/>

<xacro:macro name="up_wheel_inertial" params="inertial_pose_z">
  <inertial>
    <origin xyz="0 0 ${inertial_pose_z}" rpy="0 0 0" />
    <mass value="0.0473021" />
    <inertia ixx="2.99107E-05" ixy="0" ixz="0" iyy="2.99107E-05" iyz="0" izz="5.22452E-05" />
  </inertial>
</xacro:macro>

<xacro:macro name="down_wheel_inertial" params="inertial_pose_z">
  <inertial>
    <origin xyz="0 0 ${inertial_pose_z}" rpy="0 0 0" />
    <mass value="0.0044409" />
    <inertia ixx="7.19703E-07" ixy="0" ixz="0" iyy="7.19703E-07" iyz="0" izz="1.33283E-06" />
  </inertial>
</xacro:macro>

<xacro:property name="wheel_pose">
  <origin xyz="0 0 0" rpy="1.5708 -0 0" />
</xacro:property>

<xacro:property name="up_wheel_joint_pose_x" value="0.0837"/>
<xacro:property name="down_wheel_joint_pose_x" value="0.0718"/>
<xacro:property name="up_wheel_joint_pose_y" value="0.0502"/>
<xacro:property name="down_wheel_joint_pose_y" value="0.0707"/>
<xacro:property name="up_wheel_joint_pose_z" value="0.0261"/>
<xacro:property name="down_wheel_joint_pose_z" value="0.0356"/>
<xacro:property name="wheel_joint_pose_rpy" value="-1.5708 0 0"/>

<xacro:wheel wheel_prefix="left_up">
  <xacro:up_wheel_inertial inertial_pose_z="${wheel_inertial_pose_z}"></xacro:up_wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="${up_wheel_joint_pose_x} ${up_wheel_joint_pose_y} ${up_wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="left_down">
  <xacro:down_wheel_inertial inertial_pose_z="${wheel_inertial_pose_z}"></xacro:down_wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="-${down_wheel_joint_pose_x} ${down_wheel_joint_pose_y} ${down_wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="right_up">
  <xacro:up_wheel_inertial inertial_pose_z="-${wheel_inertial_pose_z}"></xacro:up_wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="${up_wheel_joint_pose_x} -${up_wheel_joint_pose_y} ${up_wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="right_down">
  <xacro:down_wheel_inertial inertial_pose_z="-${wheel_inertial_pose_z}"></xacro:down_wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="-${down_wheel_joint_pose_x} -${down_wheel_joint_pose_y} ${down_wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>  

<xacro:include filename="$(arg urdf_extras)" />

</xacro:macro>
</robot>
