<?xml version="1.0" ?>
<robot name="ugv_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="use_gazebo" params="use_gazebo">

<xacro:arg name="robot_namespace" default="/" />
<xacro:arg name="urdf_extras" default="empty.urdf" />

<xacro:include filename="$(find ugv_description)/urdf/wheels/rover_wheel.xacro" />
<xacro:include filename="$(find ugv_description)/urdf/sensors/lidar.xacro" />
<xacro:property name="lidar_joint_pose">
  <origin xyz="0.03170 -0.00102 0.04" rpy="0 0 1.5708"/>
</xacro:property>
<xacro:lidar> 
<xacro:insert_block name="lidar_joint_pose" />
</xacro:lidar>

<xacro:include filename="$(find ugv_description)/urdf/sensors/3d_camera.xacro" />
<xacro:oak use_gazebo="${use_gazebo}">
  <origin xyz="0.06531 0 0.021953" rpy="0 0 0" />
</xacro:oak>

<xacro:include filename="$(find ugv_roarm_description)/urdf/ugv/gazebo/ugv_rover.gazebo"/>

<xacro:property name="base_inertial">
  <inertial>
    <origin xyz="0.0 0 -0.018" rpy="0 0 0" />
    <mass value="1.8601194" />
    <inertia ixx="0.010769685" ixy="0" ixz="0" iyy="0.0118592" iyz="0" izz="0.017549519" />
  </inertial>
</xacro:property>

<xacro:property name="base_pose">
  <origin xyz="0 0 0" rpy="0 0 0" />
</xacro:property>

<xacro:property name="base_joint_pose">
  <origin xyz="0 0 0.081" rpy="0 0 0"/>
</xacro:property>
    
<link name="base_footprint"></link>

<link name="base_link">
  <xacro:insert_block name="base_inertial" />
  <visual>
    <xacro:insert_block name="base_pose"/>
    <geometry>
      <mesh filename="file://$(find ugv_description)/meshes/bases/ugv_rover_base.stl" scale="1.0 1.0 1.0"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <xacro:insert_block name="base_pose"/>
    <geometry>
      <mesh filename="file://$(find ugv_description)/meshes/bases/ugv_rover_base.stl" scale="1.0 1.0 1.0"/>
    </geometry>
  </collision>
</link>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <xacro:insert_block name="base_joint_pose" />
</joint>


<xacro:property name="wheel_inertial_pose_z" value="0.027"/>

<xacro:macro name="wheel_inertial" params="inertial_pose_z">
  <inertial>
    <origin xyz="0 0 ${inertial_pose_z}" rpy="0 0 0" />
    <mass value="0.1153110" />
    <inertia ixx="8.06312E-05" ixy="0" ixz="0" iyy="8.06312E-05" iyz="0" izz="0.000127361" />
  </inertial>
</xacro:macro>

<xacro:property name="wheel_pose">
  <origin xyz="0 0 0" rpy="1.5708 -0 0" />
</xacro:property>

<xacro:property name="wheel_joint_pose_x" value="0.0855"/>
<xacro:property name="wheel_joint_pose_y" value="0.06"/>
<xacro:property name="wheel_joint_pose_z" value="-0.041212"/>
<xacro:property name="wheel_joint_pose_rpy" value="-1.5708 0 0"/>

<xacro:wheel wheel_prefix="left_up">
  <xacro:wheel_inertial inertial_pose_z="${wheel_inertial_pose_z}"></xacro:wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="${wheel_joint_pose_x} ${wheel_joint_pose_y} ${wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="left_down">
  <xacro:wheel_inertial inertial_pose_z="${wheel_inertial_pose_z}"></xacro:wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="-${wheel_joint_pose_x} ${wheel_joint_pose_y} ${wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="right_up">
  <xacro:wheel_inertial inertial_pose_z="-${wheel_inertial_pose_z}"></xacro:wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="${wheel_joint_pose_x} -${wheel_joint_pose_y} ${wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>

<xacro:wheel wheel_prefix="right_down">
  <xacro:wheel_inertial inertial_pose_z="-${wheel_inertial_pose_z}"></xacro:wheel_inertial>
  <xacro:insert_block name="wheel_pose" />
  
  <origin xyz="-${wheel_joint_pose_x} -${wheel_joint_pose_y} ${wheel_joint_pose_z}" rpy="${wheel_joint_pose_rpy}" />
</xacro:wheel>  

<xacro:include filename="$(arg urdf_extras)" />

</xacro:macro>
 
</robot>
